
.text-modal {
    width: 400px;
    padding: 20px;
    background-color: var(--white);
    line-height: 25px;
    text-align: center;
}

.text-modal-close-btn {
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-primary);
    color: var(--white);
    margin-top: 20px;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}