.sidebar {
    position:fixed;
    height: 100vh;
    flex: 1;
}
.sibebar__title {
    font-family: "Vazir-Bold";
    font-size: 1.4rem;
    color: var(--color-info-dark);
    padding: 15px;
    text-align: right;
    border-bottom: 2px solid #6c48bb;
}
.sidebar__links {
    margin-top: 75px;
}

.sidebar__links li {
    position: relative;
    padding: 15px;
}

.sidebar__links li a {
    color: var(--color-info-dark);
    margin-right: 2rem;
    gap: 1rem;
    align-items: center;
    transition: all 300ms ease;
    text-decoration: none;
}

.sidebar__links li a:hover {
    margin-right: 1rem;
}

.sidebar__links li:first-child {
    margin-bottom: 1.25rem;
}

.sidebar__links li.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
    border-radius: .5rem;
}
.sidebar__links--icon {
    margin-left: 8px;
}