.edit__info__input__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.edit__user__info__input__group {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem .5rem;
    margin: .5rem 3rem;
    background-color: var(--color-light);
    border-radius: .5rem;
    color: gray;
}

.edit__user__info__input {
    border: none;
    width: 100%;
    background: none;
    outline: none;
}