                /* Reset Elements */

@import "./reset.css";
 
                /* Decler Project Fonts */

@font-face {
    font-family: "Vazir";
    src: url("./Assets/Fonts/Vazir-FD.ttf") format("truetype");
}
@font-face {
    font-family: "Vazir-Bold";
    src: url("./Assets/Fonts/Vazir-Bold-FD.ttf") format("truetype");
}
@font-face {
    font-family: "Vazir-Medium";
    src: url("./Assets/Fonts/Vazir-Medium-FD.ttf") format("truetype");
}

                /* /Decler Project Fonts */

:root {
    --color-light:                  rgba(132, 139, 200, 0.18);
    --color-info-dark:              #7d8da1;
    --color-dark:                   #363949;
    --color-primary:                #7380ec;
    --white: #f6f6f9;
    --text-title-color: #858585;
    --blue : #471AAA;
    --box-shadow-1:                   0 2rem 3rem rgba(0, 0, 0, 0.18);;

    --card-border-radius:           2rem;

    --card-padding:                 1.8rem;
}

body {
    background-color: var(--white);
    display: flex;
    direction: rtl;
}

*, body, html {
    font-family: "Vazir";
}